body{
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: rgb(42, 40, 48);
}




.App{
    display: grid;
    grid-template-columns: 1fr 4fr;

    & .app-sidebar{
        background-color: rgb(18, 15, 29);
        border-right: 1px solid rgb(10, 233, 121);
        height: 100vh;
        padding-left: 10px;
        transition: 0.2s;
        overflow: scroll;
        
        &::-webkit-scrollbar{
            background-color: transparent;
            width: 5px;
            margin: 2px;
            
        }

        &::-webkit-scrollbar-thumb{
            background-color: rgb(255, 255, 255);
        }

        &:hover{
            box-shadow: 0px 0px 10px rgb(10, 233, 121);
            transition: 0.2s;
        }


        & .app-sidebar-header{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 5px;

            & button{
                background-color: transparent;
                border: none;
                padding: 5px;
                border-radius: 5px;
                color: rgb(8, 245, 154);
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.2s;

                &:hover{
                    background-color: rgb(10, 233, 121);
                    color: rgb(18, 15, 29);
                    transition: 0.2s;
                }
            }
        }

        & .app-sidebar-notes{

            & .app-sidebar-note{
                padding:10px;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
                margin: 10px;
                color: rgb(18, 15, 29);
                transition: background-color 0.2s;

                &.active{
                    background-color: rgb(10, 233, 121);
                    color: rgb(18, 15, 29);
                    transition: background-color 0.2s;
                }

                & .sidebar-note-title{

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & button{
                    background-color: transparent;
                    border: none;
                    color: rgb(168, 7, 7);
                    font-weight: bold;
                    cursor: pointer;
                    padding: 10px;
                    border-radius: 5px;
                    transition: 0.2s;

                    &:hover{
                        background-color: rgb(168, 7, 7);
                        color: rgb(255, 255, 255);
                        transition: 0.2s;
                    }
                }
                }
                
            }
        }
    }

    & .app-main{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 2em;

        & .app-main-note-edit{
            
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2em;

            & #title{
                border: none;
                font-size: 24px;
                border-radius: 5px;
                font-weight: 600;
                width: 50%;
                height: 2em;
                transition: 0.2s;
                padding: 10px;

                &:focus, :focus-visible{
                    outline: none;
                    box-shadow: 1px 1px 20px rgb(10, 233, 121);
                    transition: 0.2s;
                }

            }

            & textarea{
                height: 100%;
                resize: none;
                padding: 10px;
                border-radius: 5px;
                transition: 0.2s;
                &:focus, :focus-visible{
                    outline: none;
                    box-shadow: 1px 1px 20px rgb(10, 233, 121);
                    transition: 0.2s;
                }
            }
        }
    }

    & .app-main-note-preview{
        height: 100%;
        border: 1px solid rgba(10, 233, 122, 0.445);
        background-color: #121024;
        border-radius: 5px;
        padding: 10px;
        transition: 0.2s;
        &:hover{
            box-shadow: 0px 0px 10px rgb(10, 233, 121);
            transition: 0.2s;
        }
    }
}